*.json
test.py
**/__pycache__/
**/Old_Rika_memory/
**/cache/
**/screenshots/
**/for_RPI/
captured.jpg
debug.log
*.log
output.mp3
*.png
.vscode
**/protocols/
Rikagemini.py
sync_memories.py
Vincent.py
ai_test.py
**/test/
**/web/